<div class="filterContainer">
    <div class="searchContainer">
        <div class="dflex search">
            <h3 class="noh3"> Seleccione Equipo:</h3>
            <div class="dflex flex-row">
                <input type="number" id='idResult' class="form-control m2 " placeholder="N° de equipo">
            </div>
        </div>
        <div class="dflex search">
            <h3 class="noh3"> Seleccion multiple:</h3>
            <div class="dflex flex-row">
                <span>desde</span> <input type="number" id='idResult1'class="form-control m2 " placeholder="N° de equipo">
                <span>hasta</span> <input type="number" id='idResult2'class="form-control m2 " placeholder="N° de equipo">
                <button (click)="addToList()" class="btn btn-primary m2"> &nbsp;&nbsp;&nbsp; Incorporar
                    &nbsp;&nbsp;&nbsp; </button>
            </div>
        </div>
    </div>

    <div class="result">
        <div class="cards-container">
            <div class="card" *ngFor="let data of datas">
                <div class="card-content">
                    <button class="card-x"  (click)="deleteOfList(data)" >✖</button>
                    <div class="card-item">
                        <input id="data.id" class="checkboxEach" type="checkbox"  [(ngModel)]="data.checked">
                    </div>
                    <div class="card-item">
                        <span class="card-title info" title="Numero {{data.name}}">{{ data.name }}</span>
                    </div>
                    <div class="card-item">
                        <span *ngIf="data.state=='oka'" class="card-title" title="Estado Conectada">✅</span>
                        <span *ngIf="data.state=='not'" class="card-title" title="En Alerta">❗❗</span>
                    </div>
                    <div class="card-item">
                        <span class="separation"> ||</span>
                    </div>
                    <div class="card-item">
                        <button  (click)="reebotThis('gps1')" *ngIf="!data.gps1" class="status svgContent notButton" title="No Disponible">
                            &nbsp;
                            <svg class="svgClass" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 512 512">
                                <path
                                    d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-384c13.3 0 24 10.7 24 24V264c0 13.3-10.7 24-24 24s-24-10.7-24-24V152c0-13.3 10.7-24 24-24zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z"
                                    fill="rgb(214, 184, 10)"  />
                            </svg>
                        </button>
                        <button  (click)="reebotThis('gps1')" *ngIf="data.gps1 == 1" class="status red notButton" title="Desconectada">🔴</button>
                        <button  (click)="reebotThis('gps1')" *ngIf="data.gps1 == 2" class="status green notButton" title="Ok">🟢</button>
                        gps1
                    </div>
                    <div class="card-item">
                        <button *ngIf="!data.gps2"  (click)="reebotThis('gps2')" class="status svgContent notButton" title="No Disponible">
                            &nbsp;
                            <svg class="svgClass" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 512 512">
                            <path
                                d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-384c13.3 0 24 10.7 24 24V264c0 13.3-10.7 24-24 24s-24-10.7-24-24V152c0-13.3 10.7-24 24-24zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z"
                                fill="rgb(214, 184, 10)"  />
                        </svg>
                        </button>
                        <button *ngIf="data.gps2 == 1"  (click)="reebotThis('gps2')" class="status red notButton" title="Desconectada">🔴</button>
                        <button *ngIf="data.gps2 == 2"  (click)="reebotThis('gps2')" class="status green notButton" title="Ok">🟢</button>
                        gps2
                    </div>
                    <div class="card-item">
                        <button *ngIf="!data.gprs1"   (click)="reebotThis('gprs1')"  class="status svgContent notButton" title="No Disponible">
                            &nbsp;
                            <svg class="svgClass" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 512 512">
                            <path
                                d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-384c13.3 0 24 10.7 24 24V264c0 13.3-10.7 24-24 24s-24-10.7-24-24V152c0-13.3 10.7-24 24-24zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z"
                                fill="rgb(214, 184, 10)"  />
                        </svg>
                        </button>
                        <button *ngIf="data.gprs1 == 1"  (click)="reebotThis('gprs1')"   class="status red notButton" title="Desconectada">🔴</button>
                        <button *ngIf="data.gprs1 == 2"   (click)="reebotThis('gprs1')"  class="status green notButton" title="Ok">🟢</button>
                        gprs1
                    </div>
                    <div class="card-item">
                        <button *ngIf="!data.gprs2" (click)="reebotThis('gprs2')"   class="status svgContent notButton" title="No Disponible">
                            &nbsp;
                            <svg class="svgClass" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 512 512">
                            <path
                                d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-384c13.3 0 24 10.7 24 24V264c0 13.3-10.7 24-24 24s-24-10.7-24-24V152c0-13.3 10.7-24 24-24zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z"
                                fill="rgb(214, 184, 10)" />
                        </svg>
                        </button>
                        <button *ngIf="data.gprs2 == 1"   (click)="reebotThis('gprs2')"  class="status red notButton" title="Desconectada">🔴</button>
                        <button *ngIf="data.gprs2 == 2"  (click)="reebotThis('gprs2')"   class="status green notButton" title="Ok">🟢</button>
                        gprs2
                    </div>
                    <div class="card-item">
                        <button *ngIf="data.alim"   (click)="reebotThis('alim')" class="card-title svgContent notButton" title="Conectada">
                            &nbsp;
                            <svg class="svgClass" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                <path
                                    d="M96 0C78.3 0 64 14.3 64 32v96h64V32c0-17.7-14.3-32-32-32zM288 0c-17.7 0-32 14.3-32 32v96h64V32c0-17.7-14.3-32-32-32zM32 160c-17.7 0-32 14.3-32 32s14.3 32 32 32v32c0 77.4 55 142 128 156.8V480c0 17.7 14.3 32 32 32s32-14.3 32-32V412.8C297 398 352 333.4 352 256V224c17.7 0 32-14.3 32-32s-14.3-32-32-32H32z"
                                    fill="green" />
                            </svg>
                        </button>
                        <button *ngIf="!data.alim"  (click)="reebotThis('alim')" class="card-title svgContent notButton" title="Desconectada">
                            &nbsp;
                            <svg class="svgClass" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                <path
                                    d="M96 0C78.3 0 64 14.3 64 32v96h64V32c0-17.7-14.3-32-32-32zM288 0c-17.7 0-32 14.3-32 32v96h64V32c0-17.7-14.3-32-32-32zM32 160c-17.7 0-32 14.3-32 32s14.3 32 32 32v32c0 77.4 55 142 128 156.8V480c0 17.7 14.3 32 32 32s32-14.3 32-32V412.8C297 398 352 333.4 352 256V224c17.7 0 32-14.3 32-32s-14.3-32-32-32H32z"
                                    fill="red" />
                            </svg>
                        </button>
                        Alim
                    </div>
                    <div class="card-item">
                        <button *ngIf="data.batteryHigh"  (click)="reebotThis('batteryHigh')" class="card-title svgContent notButton" title="Bateria Alta">
                            &nbsp;
                            <svg class="svgClass" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                <path
                                    d="M464 160c8.8 0 16 7.2 16 16V336c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V176c0-8.8 7.2-16 16-16H464zM80 96C35.8 96 0 131.8 0 176V336c0 44.2 35.8 80 80 80H464c44.2 0 80-35.8 80-80V320c17.7 0 32-14.3 32-32V224c0-17.7-14.3-32-32-32V176c0-44.2-35.8-80-80-80H80zm368 96H96V320H448V192z"
                                    fill="green" />
                            </svg>
                        </button>
                        <button *ngIf="data.batteryLow"  (click)="reebotThis('batteryLow')" class="card-title svgContent notButton" title="Bateria Baja">
                            &nbsp;
                            <svg class="svgClass" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                <path
                                    d="M464 160c8.8 0 16 7.2 16 16V336c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V176c0-8.8 7.2-16 16-16H464zM80 96C35.8 96 0 131.8 0 176V336c0 44.2 35.8 80 80 80H464c44.2 0 80-35.8 80-80V320c17.7 0 32-14.3 32-32V224c0-17.7-14.3-32-32-32V176c0-44.2-35.8-80-80-80H80zm208 96H96V320H288V192z"
                                    fill="red" />
                            </svg>
                        </button>
                        Bat
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="datas" class="menuFilters">
        <button class="btn btn-secondary" (click)="checkAll()">Marcar/Desmarcar Todos</button>
        <button class="btn btn-secondary"  (click)="deleteAll()" >Borrar Todos</button>
        <button class="btn btn-primary">Prueba General</button>
        <button class="btn btn-danger">Reiniciar Todos</button>
    </div>
        <h3>Estado: </h3>
        <textarea id="resultArea" class="textAreaFilter" > </textarea>
</div>